<odoo>
    <menuitem id="menu_sl_human_resources" name="人事考勤"
        sequence="265" web_icon="sl_hrm,static/description/hr.png"
    />

    <menuitem
            id="menu_config_insurance"
            name="勞健保"
            parent="hr.menu_human_resources_configuration"
            sequence="10"/>

    <menuitem id="menu_hr_health_insurance_gap_list"
              name="健保級距設定"
              parent="menu_config_insurance"
              sequence="1"
              action="action_hr_health_insurance_gap"/>
    <menuitem id="menu_hr_labor_insurance_gap_list"
              name="勞保級距設定"
              parent="menu_config_insurance"
              sequence="2"
              action="action_hr_labor_insurance_gap"/>

    <menuitem id="menu_hr_labor_pension_gap_list"
              name="勞退級距設定"
              parent="menu_config_insurance"
              sequence="2"
              action="action_hr_labor_pension_gap"/>

    <menuitem id="menu_hr_labor_harm_insurance_gap_list"
              name="勞工職業災害保險級距設定"
              parent="menu_config_insurance"
              sequence="3"
              action="action_hr_labor_harm_insurance_gap"/>

    <menuitem id="menu_hr_salary_tax_gap_list"
              name="薪資扣繳稅額級距設定"
              parent="menu_config_insurance"
              sequence="3"
              action="action_hr_salary_tax_gap"/>

    <menuitem id="menu_hr_health_report_check_setting"
              name="體檢報告有效期限設定"
              parent="hr.menu_human_resources_configuration"
              sequence="11"
              action="action_sl_health_report_check_setting"/>

    <menuitem id="menu_hr_license_check_setting"
              name="教育訓練和在職回訓有效期限設定"
              parent="hr.menu_human_resources_configuration"
              sequence="11"
              action="action_sl_license_check_setting"/>
</odoo>